<h1>Image Uploader</h1>
<%= form_tag({:controller => 'image_uploader', :action => 'create'}, 
             :multipart => true) do %>
  <%= file_field_tag 'picture' %>
  <br/>
  <%= submit_tag 'Upload' %>
<% end %>
